
.container {
  max-width: 400px;
  color: #B3B3B3;
  position: relative;
  margin: 0 10px;
  background-color: #F3F3F3;
  font-size: 14px;


header {
  width: 100%x;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 24px;
}

h3 {
  font-size: 16px;
  color: black;
  padding-right: 15px;
  margin-right:40px;
}

li {
  font-size: 14px;
  list-style: none;
  color: #6AA2A2;
  display:inline-block;

  name {
    font-size: 14px;
    color: #B3B3B3;
  }
}
  .sidebar{
    width: 500px;
    padding: 20px;
  }


img {
  width: 110px;
  border-radius: 55px;
  position: absolute;
  top: 105px;
  right: 30px;
}

.main {
  width: 80%;
  padding: 20px;
  background-color: #F3F3F3;
}
}
